<h1>사용자 예약 취소 페이지</h1>
<table>
  <tr>
     <td>UserID</td>
     <td>Flight_number</td>
     <td>Date</td>
     <td>Seat_number</td>
     <td>Customer_name</td>
     <td>Customer_phone</td>
  </tr>
  {{#each user}}
    <form method="post">
      <tr>
        <td>{{UserID}}</td>
        <td>{{Flight_number}}</td>
        <td>{{Date}}</td>
        <td>{{Seat_number}}</td>
        <td>{{Customer_name}}</td>
        <td>{{Customer_phone}}</td>
        <td style="border: none; margin-left: 10px;">
          <button 
            style="margin-left: 10px;"
            type="submit" 
            name="delBtn"
            value={{UserID}} 
            formaction="/delete">
          삭제
          </button>
        </td>
      </tr>    
    </form>
  {{/each}}
</table>